/* Project Style */
/* *{
    box-sizing: border-box;
} */

/* .title{
    background-image: url("/static/uw.jpg");
    background-repeat: no-repeat;
    
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 500px;
} */

.boxcontainer{
    height: auto;
    /* margin: auto; */
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    /* width: 60%; */
    width: 100%;
    display:flex;
    flex-wrap: wrap; 
    /* justify-content: space-between; */
    flex-direction: row;
    justify-content:center;    
}

.box{
    border: 0.5px solid rgba(15, 15, 15, 0.1);
    /* box-shadow: 5px 10px #888888; */
    cursor: pointer;
    background-repeat: no-repeat; 
    background-size: 100% 40%;
    width: 350px;  
    height: 425px;
    font-size: 18px;
    /* background-color: rgba(95, 199, 173, 0.7); */
    /* padding: 25px; */
    /* margin-top: 75px; */
    margin-bottom: 45px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: box-shadow 0.5s ease;

 }

.box:hover {
    box-shadow: 0 0 15px 10px rgba(15, 15, 15, 0.1);

}

.pboxtitle {
    font-weight: bold;
    font-size: 20px;
}

.ptext {
    /* background-color: aquamarine; */
    padding: 25px;
    margin-top: 55%;
    /* margin-left: auto;
    margin-right: auto;
    margin-bottom: auto; */
}

/* Text on project page */
.text{
    /* border: 4px solid; */
    border: 0.5px solid rgba(15, 15, 15, 0.07);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding: 50px;
    /* background-color:aquamarine; */
}

#basiclink {
    cursor: pointer;
    color:black;
}

#basiclink:hover {
    color:darkblue;
}

.prev {
    float: left;
    font-size: 20px;
}

.next {
    float: right;
    font-size: 20px;
}

a{
    position: relative;
    text-decoration: none;
    color: black;
}

.prev-next{
    /* border: 4px solid; */
    /* border: 0.5px solid rgba(15, 15, 15, 0.07); */
    /* margin-top: 25px;
    margin-bottom: 25px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 50%;
    /* margin-bottom: 100px; */
    /* line-height: 1.5; */
    /* background-color:aquamarine; */
}

.arrow {
    cursor: pointer;
}

.arrow:hover {
    color: teal;
}

/* .exclude {
    color:black;
    text-decoration: none;
    display:inline-flex;
} */

@media only screen and (max-width: 600px) and (orientation: portrait){
    .prev-next {
        width: 90%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) and (orientation: landscape){
    .prev-next {
        width: 85%;
    }
}